* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  border: none;
}

.grid {
  display: grid;
}

.maxWidth {
  max-width: 64rem;
  margin: 0 auto;
}

.flexed {
  display: flex;
}

.whiteWrapper {
  background-color: white;
}

.small-0 {
  flex-basis: 0%;
}

.small-1 {
  flex-basis: 8.3333333333%;
}

.small-2 {
  flex-basis: 16.6666666667%;
}

.small-3 {
  flex-basis: 25%;
}

.small-4 {
  flex-basis: 33.3333333333%;
}

.small-5 {
  flex-basis: 41.6666666667%;
}

.small-6 {
  flex-basis: 50%;
}

.small-7 {
  flex-basis: 58.3333333333%;
}

.small-8 {
  flex-basis: 66.6666666667%;
}

.small-9 {
  flex-basis: 75%;
}

.small-10 {
  flex-basis: 83.3333333333%;
}

.small-11 {
  flex-basis: 91.6666666667%;
}

.small-12 {
  flex-basis: 100%;
}

@media only screen and (min-width: 35rem) {
  .medium-0 {
    flex-basis: 0%;
  }
  .medium-1 {
    flex-basis: 8.3333333333%;
  }
  .medium-2 {
    flex-basis: 16.6666666667%;
  }
  .medium-3 {
    flex-basis: 25%;
  }
  .medium-4 {
    flex-basis: 33.3333333333%;
  }
  .medium-5 {
    flex-basis: 41.6666666667%;
  }
  .medium-6 {
    flex-basis: 50%;
  }
  .medium-7 {
    flex-basis: 58.3333333333%;
  }
  .medium-8 {
    flex-basis: 66.6666666667%;
  }
  .medium-9 {
    flex-basis: 75%;
  }
  .medium-10 {
    flex-basis: 83.3333333333%;
  }
  .medium-11 {
    flex-basis: 91.6666666667%;
  }
  .medium-12 {
    flex-basis: 100%;
  }
}
@media only screen and (min-width: 64rem) {
  .large-0 {
    flex-basis: 0%;
  }
  .large-1 {
    flex-basis: 8.3333333333%;
  }
  .large-2 {
    flex-basis: 16.6666666667%;
  }
  .large-3 {
    flex-basis: 25%;
  }
  .large-4 {
    flex-basis: 33.3333333333%;
  }
  .large-5 {
    flex-basis: 41.6666666667%;
  }
  .large-6 {
    flex-basis: 50%;
  }
  .large-7 {
    flex-basis: 58.3333333333%;
  }
  .large-8 {
    flex-basis: 66.6666666667%;
  }
  .large-9 {
    flex-basis: 75%;
  }
  .large-10 {
    flex-basis: 83.3333333333%;
  }
  .large-11 {
    flex-basis: 91.6666666667%;
  }
  .large-12 {
    flex-basis: 100%;
  }
}
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.body {
  background-color: #D8F2F2;
}

.cardContainer {
  position: relative;
  margin-top: 3rem;
  box-shadow: inset 2px 2px 5px rgb(225, 225, 225);
  background-color: white;
}

.card__title {
  position: absolute;
  top: -1rem;
  left: 1rem;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  font-family: mrs-eaves-roman-all-small-ca, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: white;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 10px;
}

.cardFigure {
  padding: 2rem 1rem 1rem 1rem;
  width: 100%;
  height: auto;
}

.cardImage {
  width: 100%;
  height: auto;
}

.card__sideInfoDiv {
  padding: 0 1rem 1rem 1rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: rgb(85, 85, 85);
}

.card__bottomInfoDiv {
  padding: 0 1rem 2rem 1rem;
  line-height: 1.5rem;
}

@media only screen and (min-width: 35rem) {
  .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card__sideInfoDiv {
    padding: 2rem 1rem 1rem 1rem;
  }
  .card__bottomInfoDiv {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.heroComponent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.heroDescription {
  padding: 1rem 2rem 2rem 1rem;
  max-width: 500px;
  height: fit-content;
  align-self: start;
  line-height: 1.8rem;
  background-color: white;
}

.heroTitle {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-family: mrs-eaves-roman-all-small-ca, sans-serif;
  font-weight: 400;
}

.heroFigure {
  align-self: end;
  margin: 1rem;
}

.heroImg {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 35rem) {
  .heroComponent {
    grid-template-columns: 1fr 1fr;
  }
  .heroFigure {
    align-self: center;
    margin: 0 1rem;
  }
  .heroImg {
    width: 100%;
    height: auto;
  }
}
.footer {
  margin-top: 4rem;
}

.footer__socialDiv {
  justify-content: center;
}

.footer__socialAnchor {
  padding: 3rem 1.5rem 1rem 1.5rem;
  color: rgb(85, 85, 85);
  font-size: 2rem;
}

.footer__socialAnchor:hover {
  color: #1A9B63;
}

.footer__badgePictures {
  justify-content: center;
}

.footer__badgeFigure {
  width: 8rem;
  padding: 1rem 0.5rem;
  height: auto;
}

.footer__badgeImg {
  width: 100%;
  height: auto;
}

.footer__copyright {
  padding: 1rem 0;
  text-align: center;
  font-size: 0.6rem;
}

.header {
  position: relative;
  padding: 1.8rem 1rem 1rem 1rem;
}

.header__figure {
  width: 100px;
  height: auto;
}

.header__figureImg {
  width: 100%;
  height: auto;
}

.header__logo {
  padding: 1rem;
  font-family: mrs-eaves-roman-all-small-ca, sans-serif;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-weight: 200;
  letter-spacing: 0.08rem;
}
.header__logo a {
  text-decoration: none;
  color: black;
}

.header__logoNav {
  position: relative;
  width: 100%;
}

.header__supportButton {
  position: absolute;
  bottom: 0;
  right: 3rem;
  padding: 0.3rem 0.5rem;
  margin: 1rem 1rem 0.5rem 0.8rem;
  background-color: #1A9B63;
  border-radius: 3rem;
}
.header__supportButton a {
  text-decoration: none;
}

.header__supportButtonContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.header__supportButton:hover {
  background-color: #136f47;
}

.header__supportTitle {
  padding: 0 2rem 0.2rem 0.5rem;
  align-items: center;
  height: 100%;
  font-family: mrs-eaves-roman-all-small-ca, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: white;
}

.header__supportButtonFigure {
  position: absolute;
  right: 0.2rem;
  top: -3px;
  width: 19%;
  height: auto;
  margin: 0.2rem;
}

.header__supportButtonImg {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 35rem) {
  .header__logo {
    padding: 1rem 0 0 1rem;
  }
  .header__supportButton {
    bottom: 10%;
    right: 0;
    left: auto;
    padding: 0.4rem;
    margin: 1rem 1rem 0.5rem 0.8rem;
    background-color: #1A9B63;
    border-radius: 3rem;
  }
}
.nav__ul {
  display: none;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: -11rem;
  padding: 1rem;
  text-align: right;
  background-color: white;
}

.nav__ul.ul--open {
  display: block;
}

.nav__ul.ul--open.nav__buttonX {
  display: block;
}

.nav__buttonX.exit--closed {
  display: none;
}

.hamburger--closed {
  display: none;
}

.nav__buttonX {
  display: block;
}

.nav__ulProgramsLi {
  position: relative;
  display: block;
  padding: 2rem;
}

.nav__ulProgramsLi:hover .nav__programUl {
  display: block;
}

.nav__programUl {
  display: none;
  position: absolute;
  left: -150%;
  top: -10%;
  padding: 0.9rem;
  background-color: white;
  font-size: 0.8rem;
  z-index: 2;
}

.programs--open {
  display: block;
}

.nav__buttons {
  position: absolute;
  right: 0;
  bottom: -0.5rem;
  font-size: 2rem;
}

.nav__ulAnchor {
  text-decoration: none;
  color: black;
}

.nav__programUlAnchor {
  text-decoration: none;
  color: black;
}

.nav__ulAnchor:hover {
  color: #1A9B63;
}

.nav__programUlAnchor:hover {
  color: #1A9B63;
}

.nav__ulLi {
  padding: 0.5rem 0;
}

.nav__ulLi.active {
  color: #1A9B63;
}

.nav__programLi {
  padding: 0.2rem 0;
}

.nav__lineImgLi {
  display: none;
}

@media only screen and (min-width: 35rem) {
  .nav__ul, .nav__ul.ul--open {
    display: flex;
    position: static;
    padding: 0 0 1rem 1rem;
    text-align: left;
    background-color: white;
  }
  .hamburger--closed, .nav__buttonX, .ul--open, .nav__buttons {
    display: none;
  }
  .nav__buttons {
    left: 0;
    bottom: 0.5rem;
    font-size: 2rem;
  }
  .nav__ulLi {
    padding: 0.5rem 0.7rem 0 0;
  }
  .nav__lineImgLi {
    display: block;
    padding-top: 0.65rem;
    padding-right: 0.7rem;
  }
  .nav__programUl {
    z-index: 2;
    left: -1rem;
    top: 0.5rem;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: white;
    font-size: 0.8rem;
  }
}
.main__heroSection {
  position: relative;
}

.main__heroWordDiv {
  position: absolute;
  top: 8%;
  left: 11%;
  margin: 1rem;
}

.main__heroH2 {
  font-family: mrs-eaves-roman-all-small-ca, sans-serif;
  font-weight: 200;
  font-size: clamp(2rem, 6vw, 3rem);
  text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 40px black, 0px 0px 30px black, 0px 0px 40px black;
  color: white;
}

.main__heroSpan {
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 10px rgb(255, 255, 255), 0px 0px 10px rgb(255, 255, 255), 0px 0px 10px rgb(255, 255, 255), 0px 0px 20px rgb(255, 255, 255), 0px 0px 20px rgb(255, 255, 255), 0px 0px 20px rgb(255, 255, 255), 0px 0px 20px rgb(255, 255, 255), 0px 0px 20px rgb(255, 255, 255), 0px 0px 30px rgb(255, 255, 255), 0px 0px 40px rgb(255, 255, 255), 0px 0px 60px rgb(255, 255, 255), 0px 0px 60px rgb(255, 255, 255), 0px 0px 80px rgb(255, 255, 255), 0px 0px 80px rgb(255, 255, 255);
}

.main__heroFigure {
  width: 100%;
  max-width: 1024px;
  height: auto;
}

.main__galleryPicture {
  width: 100%;
  height: auto;
}

.main__galleryPictureSrc {
  width: 100%;
  height: auto;
}

.main__heroDescriptionDiv {
  position: absolute;
  bottom: 10.5vw;
  width: 15rem;
  margin: 15%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

.main__heroDescriptionP {
  color: rgb(0, 0, 0);
  line-height: 1.2rem;
  font-size: 1rem;
  font-family: mrs-eaves, serif;
  font-weight: 400;
}

.main__programs {
  position: relative;
}

.main__whiteOvalDiv {
  box-sizing: content-box;
  position: absolute;
  z-index: 1;
  top: -4%;
  left: -12rem;
  width: 100%;
  height: 20%;
  padding: 2rem 12rem;
  background-color: white;
  border-radius: 50%;
}

.main__supportButtonDiv {
  position: absolute;
  top: -2rem;
  display: flex;
  justify-content: center;
  z-index: 3;
  width: 100%;
}

.main__supportButton {
  z-index: 4;
  padding: 0.5rem 0.8rem;
  margin: 1rem 1rem 0.5rem 0.8rem;
  background-color: #1A9B63;
  border-radius: 3rem;
}
.main__supportButton a {
  text-decoration: none;
}

.main__supportButton:hover {
  background-color: #136f47;
}

.main__supportButtonContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.main__supportTitle {
  padding: 0 2.8rem 0.2rem 0.5rem;
  align-items: center;
  height: 100%;
  font-family: mrs-eaves-roman-all-small-ca, sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  color: white;
}

.main__supportButtonFigure {
  position: absolute;
  right: 0.2rem;
  top: -3px;
  width: 19%;
  height: auto;
  margin: 0.2rem;
}

.main__supportButtonImg {
  width: 100%;
  height: auto;
}

.main__programsBoxes {
  position: relative;
  z-index: 3;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 0;
}

.main__programFigure {
  width: 100%;
  height: auto;
  margin: 2rem;
}

.main__programImg {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.main__programFigCaption {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}
.main__programFigCaption a {
  width: 100%;
}

.main__programsButton {
  padding: 1rem;
  width: 100%;
  height: 6.25rem;
  text-align: center;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(104, 104, 104, 0.422);
}

.main__programsButton:hover {
  cursor: pointer;
  box-shadow: inset 0 0 10px rgb(104, 104, 104);
}

.main__founderInfo {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main__founderFigure {
  flex-basis: 80%;
  margin: 1rem 0;
}

.main__founderImg {
  width: 100%;
  height: auto;
  border: 10px solid white;
}

.main__founderDescDiv {
  background-color: white;
  height: fit-content;
  margin-bottom: 1rem;
}

.main__founderDescription {
  padding: 1rem 1rem 0 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2rem;
  border-radius: 5px;
}

.main__founderNameSpan {
  width: 100%;
  text-align: right;
  padding: 0 1rem 1rem 0;
}

.main__founderIcon {
  color: black;
  text-decoration: none;
}

.main__founderIcon:hover {
  color: #1A9B63;
}

.main__gettingStartedandNews {
  padding: 1rem;
}

.main__gettingStartedTitle {
  margin: 3rem 0;
  font-size: 2rem;
  font-family: mrs-eaves-roman-all-small-ca, sans-serif;
  font-weight: 400;
}

.main__gettingStartedInfo {
  line-height: 1.5rem;
  width: 80%;
}

.main__gettingStartedInfoSpan {
  font-family: mrs-eaves, serif;
  font-size: 1.4rem;
}

.main__contactIcon {
  color: black;
}

.main__contactIcon:hover {
  color: green;
}

.main__newsandEvents {
  padding: 1rem 1rem 3rem 1rem;
}

.main__newsandEventsTitle {
  margin: 3rem 0;
  font-size: 2rem;
  font-family: mrs-eaves-roman-all-small-ca, sans-serif;
  font-weight: 400;
}

.main__aboutHero {
  padding: 1rem;
}

.main__formSection {
  position: relative;
  padding: 1rem;
}

.main__h2 {
  margin: 3rem 0;
  font-size: 2rem;
  font-family: mrs-eaves-roman-all-small-ca, sans-serif;
  font-weight: 400;
}

.main__form {
  padding: 1rem;
  max-width: 700px;
  background-color: white;
}

.forms__inputTitle {
  margin-top: 1rem;
  padding: 0.5rem 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.forms__input {
  padding: 0.5rem;
  box-shadow: inset 0 0 3px rgb(178, 178, 178);
}

.form__email {
  width: 80%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form__text {
  padding: 0.5rem;
  margin: 2rem 0;
  width: 100%;
  height: 10rem;
  box-shadow: inset 0 0 3px rgb(178, 178, 178);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form__submitButton {
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  padding: 0.5rem 0.8rem;
  margin: 1rem 1rem 0.5rem 0;
  background-color: #1A9B63;
  border-radius: 3rem;
  font-family: mrs-eaves-roman-all-small-ca, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
}

.form__submitButton:hover {
  background-color: #136f47;
}

.main__volunteerHero {
  padding: 1rem;
}

.main__theGalleryFigure {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 2rem;
  padding-bottom: 30%;
  margin: 0;
}

.main__theGalleryImg {
  position: absolute;
  width: 100%;
  height: auto;
}

.main__programsSection {
  padding: 1rem;
}

@media only screen and (min-width: 35rem) {
  .main__heroDescriptionDiv {
    width: 20rem;
    margin: 12%;
  }
  .main__heroDescriptionP {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .main__whiteOvalDiv {
    top: -20%;
    left: -12rem;
    width: 100%;
    height: 60%;
  }
  .main__supportButtonDiv {
    top: -15%;
  }
  .main__programsBoxes {
    padding-top: 3rem;
    margin: 1rem;
  }
  .main__programFigure {
    flex-basis: 30%;
  }
  .main__programFigure {
    margin: 0;
  }
  .main__founderInfo {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .main__founderFigure {
    flex-basis: 30%;
    margin: 1rem;
  }
  .main__founderDescDiv {
    flex-basis: 60%;
  }
}
@media only screen and (min-width: 64rem) {
  .main__heroDescriptionDiv {
    width: 18rem;
    margin: 12%;
  }
  .main__whiteOvalDiv {
    top: -30%;
    left: -12rem;
    width: 100%;
    height: 90%;
  }
  .main__supportButtonDiv {
    top: -20%;
  }
  .main__programFigure {
    margin: 0.5rem;
    flex-basis: 30%;
  }
}/*# sourceMappingURL=styles.css.map */