.header {
    position: relative;
    padding: 1.8rem 1rem 1rem 1rem;
}

.header__figure {
    width: 100px;
    height: auto;
}

.header__figureImg {
    width: 100%;
    height: auto;
}

.header__logo {
    padding: 1rem;

    font-family: mrs-eaves-roman-all-small-ca, sans-serif;
    font-size: clamp(1.5rem, 5vw , 2.5rem);
    font-weight: 200;
    letter-spacing: .08rem;
    a {
        text-decoration: none;
        color: black;
    }
}
.header__logoNav {
    position: relative;
    width: 100%;
}

.header__supportButton {
    position: absolute;
    bottom: 0;
    right: 3rem;

    padding: .2rem .3rem;
    margin: 1rem 1rem .5rem .8rem;

    background-color: $darkGreen;
    border-radius: 3rem;
    a {
        text-decoration: none;
    }
}
.header__supportButtonContainer {
    position: relative;
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
}
.header__supportButton:hover {
    background-color: darken($darkGreen, 10%);
}
.header__supportTitle {
    padding: 0 1.8rem .2rem .5rem;
    align-items: center;
    height: 100%;

    font-family: mrs-eaves-roman-all-small-ca, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: white;
}
.header__supportButtonFigure {
    position: absolute;
    right: .2rem;
    top: -3px;
    width: 19%;
    height: auto;
    margin: .2rem;
}
.header__supportButtonImg {
    width: 100%;
    height: auto;
}
@media only screen and (min-width: 35rem) {
    .header__logo {
        padding: 1rem 0 0 1rem;
        
    }
    .header__supportButton {
        bottom: 10%;
        right: 0;
        left: auto;
    
        padding: .2rem .3rem;
        margin: 1rem 1rem .5rem .8rem;
    
        background-color: $darkGreen;
        border-radius: 3rem;
    }


}

@media only screen and (min-width: 64rem) {
    
}






