//Main ul getting hid, as but is displayed with ul--open, while exit--closed
//is taken off the exit button so it shows, and the hamburger button is hidden


.nav__ul {
    display: none;
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: -11rem;

    padding: 1rem;

    text-align: right;

    background-color: white;
}

.nav__ul.ul--open {
    display: block;
}

//exit button is displayed when ul--open is on the element, which means its showing
.nav__ul.ul--open.nav__buttonX {
    display: block;
}
//rule for the pre-click closure
.nav__buttonX.exit--closed {
    display: none;
}

//after click
.hamburger--closed {
    display: none;
}
//rule for it to show reseting the default when exit--closed is off
.nav__buttonX {
    display: block;
}

//Parent box for programs list overlay
.nav__ulProgramsLi {
    position: relative;
    display: block;
    
    padding: 2rem;
}

.nav__ulProgramsLi:hover .nav__programUl {
    display: block;
}



//Programs ul initially set to none and position absolute to the relative parent
.nav__programUl {
    display: none;
    position: absolute;
    left: -150%;
    top: -10%;

    padding: .9rem;
    background-color: white;

    font-size: .8rem;
    z-index: 2;
}

//Programs ul displays with hover 
.programs--open {
    display: block;
}

.nav__buttons {
    position: absolute;
    right: 0;
    bottom: -.5rem;

    font-size: 2rem;
}

.nav__ulAnchor {
    text-decoration: none;
    color: black;
}
.nav__programUlAnchor {
    text-decoration: none;
    color: black;
}
.nav__ulAnchor:hover {
    color: $darkGreen;
}



.nav__programUlAnchor:hover {

    color: $darkGreen;
}

.nav__ulLi {
    padding: .5rem 0;
}
.nav__ulLi.active {
    color: $darkGreen;
}

.nav__programLi {
    padding: .2rem 0;
}
.nav__lineImgLi {
    display: none;
}

@media only screen and (min-width: 35rem) {
 
//Same styling for closed and open
.nav__ul, .nav__ul.ul--open {
    display: flex;
    position: static;

    padding: 0 0 1rem 1rem;
    text-align: left;

    background-color: white;
}


.hamburger--closed, .nav__buttonX, .ul--open, .nav__buttons  {
    display: none;
}
.nav__buttons {
    left: 0;
    bottom: .5rem;

    font-size: 2rem;
}
.nav__ulLi {
    padding: .5rem .7rem 0 0 ;
}
.nav__lineImgLi {
    display: block;
    padding-top: .65rem;
    padding-right: .7rem;
}
// .nav__ulProgramsLi {
//     margin-bottom: 1rem;
// }


.nav__programUl {
    z-index: 2;
    left: -1rem;
    top: .5rem;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 1rem;

    background-color: white;

    font-size: .8rem;
}


}


