

.nav__ul {
    display: none;
}
.nav__ul.ul--open {
    display: block;
}
.nav__ul.ul--open.nav__buttonX {
    display: block;
}
.nav__buttonX.exit--closed {
    display: none;
}
.hamburger--closed {
    display: none;
}
.programs--open {
    display: block;
}
.nav__buttonX {
    display: block;
}

.nav__ulProgramsLi {
    position: relative;
}
.nav__programUl {
    display: none;
    position: absolute;
}
