.main__formSection {
    position: relative;
    padding: 1rem;
}

.main__h2 {
    margin: 3rem 0;
    font-size: 2rem;
    font-family: mrs-eaves-roman-all-small-ca, sans-serif;
    font-weight: 400;
}

.main__form {
    padding: 1rem;
    max-width: 700px;
    background-color: white;
}

.forms__inputTitle {
    margin-top: 1rem;
    padding: .5rem 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.forms__input {
    padding: .5rem;
    box-shadow: inset 0 0 3px rgb(178, 178, 178);
}

.form__email {
    width: 80%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form__text {
    padding: .5rem;
    margin: 2rem 0;

    width: 100%;
    height: 10rem;
    box-shadow: inset 0 0 3px rgb(178, 178, 178);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form__submitButton {
    position: absolute;
    bottom: -1rem;
    left: 2rem;
    padding: .5rem .8rem;
    margin: 1rem 1rem .5rem 0;

    background-color: $darkGreen;
    border-radius: 3rem;

    font-family: mrs-eaves-roman-all-small-ca, sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
}
.form__submitButton:hover {
    background-color: darken($darkGreen, 10%);
}
