.main__heroDescriptionDiv {
    width: 18rem;
    margin: 12%;
}


.main__whiteOvalDiv {
    top: -30%;
    left: -12rem;

    width: 100%;
    height: 90%;
}
.main__supportButtonDiv {
    top: -20%;
}

.main__programFigure {
    margin: .5rem;
    flex-basis: 30%;
}