//Hero Image
.main__heroSection {
    position: relative;
}
.main__heroWordDiv {
    position: absolute;
    top: 8%;
    left: 11%;
    margin: 1rem;
}
.main__heroH2 {
    font-family: mrs-eaves-roman-all-small-ca, sans-serif;
    font-weight: 200;
    font-size: clamp(2rem, 6vw, 3rem);
text-shadow: 0px 0px 5px black, 0px 0px 10px black,  0px 0px 40px black, 0px 0px 30px black, 0px 0px 40px black;
    color: white;
}
.main__heroSpan {
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 10px rgb(255, 255, 255),0px 0px 10px rgb(255, 255, 255), 0px 0px 10px rgb(255, 255, 255), 0px 0px 20px rgb(255, 255, 255),  0px 0px 20px rgb(255, 255, 255), 0px 0px 20px rgb(255, 255, 255) , 0px 0px 20px rgb(255, 255, 255), 0px 0px 20px rgb(255, 255, 255), 0px 0px 30px rgb(255, 255, 255), 0px 0px 40px rgb(255, 255, 255), 0px 0px 60px rgb(255, 255, 255), 0px 0px 60px rgb(255, 255, 255), 0px 0px 80px rgb(255, 255, 255), 0px 0px 80px rgb(255, 255, 255);
}
.main__heroFigure {
    width: 100%;
    max-width: 1024px;
    height: auto;
}
.main__galleryPicture {
    width: 100%;
    height: auto;
}
.main__galleryPictureSrc {
    width: 100%;
    height: auto;
}
.main__heroDescriptionDiv {
    position: absolute;
    bottom: 10.5vw;
    width: 15rem;
    margin: 15%;
    padding: 1rem;

    background-color: rgba(255, 255, 255, 0.9);
    border-radius:5px;
}
.main__heroDescriptionP {
    color: rgb(0, 0, 0);
    line-height: 1.2rem;
    font-size: 1rem;
    font-family: mrs-eaves, serif;
    font-weight: 400;
}
// Programs

.main__programs {
    position: relative;
}
.main__whiteOvalDiv {
    box-sizing: content-box; //This added the padding outside of the box so that the white overflows the maxwidth
    position: absolute;
    z-index: 1;
    top: -4%;
    left: -12rem;

    width: 100%;
    height: 20%;
    padding: 2rem 12rem;
   
    background-color: white;
    border-radius: 50%;
}




.main__supportButtonDiv {
    position: absolute;
    top: -2rem;
    display: flex;
    justify-content: center;
    z-index: 3;
    width: 100%;
}
.main__supportButton {
    z-index: 4;
    padding: .5rem .8rem;
    margin: 1rem 1rem .5rem .8rem;

    background-color: $darkGreen;
    border-radius: 3rem;
    a {
        text-decoration: none;
    }
}
.main__supportButton:hover {
    background-color: darken($darkGreen, 10%);
}
.main__supportButtonContainer {
    position: relative;
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
}
.main__supportTitle {
    padding: 0 2.8rem .2rem .5rem;
    align-items: center;
    height: 100%;

    font-family: mrs-eaves-roman-all-small-ca, sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    color: white;
}
.main__supportButtonFigure {
    position: absolute;
    right: .2rem;
    top: -3px;
    width: 19%;
    height: auto;
    margin: .2rem;
}
.main__supportButtonImg {
    width: 100%;
    height: auto;
}


//Bringing the program boxes forward
.main__programsBoxes {
    position: relative;
    z-index: 3;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0;
    
}
.main__programFigure {
    width: 100%;
    height: auto;

    margin: 2rem;
}
.main__programImg {
    width: 100%;
    height: auto;

    border-radius: 5px;
}
.main__programFigCaption {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    a {
        width: 100%;
    }
}
.main__programsButton {
    padding: 1rem;
   
    width: 100%;
    height: 6.25rem;

    text-align: center;
    font-size: 1.2rem;

    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(104, 104, 104, 0.422);
}
.main__programsButton:hover {
    cursor: pointer;
    box-shadow: inset 0 0 10px rgb(104, 104, 104);

}


// Founder Info
.main__founderInfo {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.main__founderFigure {
    flex-basis: 80%;
    margin: 1rem 0;
}
.main__founderImg { 
    width: 100%;
    height: auto;
    border: 10px solid white;
}
.main__founderDescDiv {
    background-color: white;
    height: fit-content;
    margin-bottom: 1rem;
}
.main__founderDescription {
    padding: 1rem 1rem 0 1rem;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2rem;
    
    border-radius: 5px;
}
.main__founderNameSpan {
    width: 100%;
    text-align: right;
    padding: 0 1rem 1rem 0;
}
.main__founderIcon  {
    color: black;
    text-decoration: none;
}
.main__founderIcon:hover {
    color: $darkGreen;
}



//Getting Started
.main__gettingStartedandNews {
    padding: 1rem;
}
.main__gettingStartedTitle {
    margin: 3rem 0;
    font-size: 2rem;
    font-family: mrs-eaves-roman-all-small-ca, sans-serif;
    font-weight: 400;
}
.main__gettingStartedInfo {
    line-height: 1.5rem;
    width: 80%;
}
.main__gettingStartedInfoSpan {
    font-family: mrs-eaves, serif;
    font-size: 1.4rem;
}

.main__contactIcon {
    color: black;
}
.main__contactIcon:hover {
    color: green;
}
//News & Events
.main__newsandEvents {
    padding: 1rem 1rem 3rem 1rem;
}
.main__newsandEventsTitle {
    margin: 3rem 0;
    font-size: 2rem;
    font-family: mrs-eaves-roman-all-small-ca, sans-serif;
    font-weight: 400;
}